/* SIMPLE RESET */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
	margin:0;
	padding:0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* FONT STYLES */

html, aside ol li:nth-of-type(2) {

	font-family: 'Merriweather', serif;
	font-size: 100%;
	line-height: 1.125em;

}

h1, h2, h3, h4, h5, h6, aside ol {

	font-family: 'Oswald', sans-serif;

}

/* STUDENT STYLES */

a:hover {
    color: orange;
    text-decoration: underline;
} 

header {
	width: 80%;
	height: 160px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	background-color: #eee;
/*	border: 1px solid orange;*/
}

header h1{
/*	border: 1px solid purple;*/
	padding-top: 50px;
	padding-bottom:20px;
	font-size: 2.8125em; /*46px / 16px */
	text-transform: uppercase;

}

header h1 a {
	text-decoration: none;
	color: #333333;
	line-height: 1.125em;
}


header nav {
	font-size: 0.75em;
}

header nav ul {
	text-align: center;
}

header nav ul li {
	display: inline;
	margin: 0 5px;
	font-weight: 300;
	font-size: .75em;
}

header nav ul li a {
	color:#333;
	text-decoration: none;
	font-family: 
}


body {
	width: 100%;


/*	border: 1px solid purple;*/

}

section {
	float: left;
	width: 51%;
	margin-left: 5%;

}

section h1 {
/*    border: 1px solid purple;*/
    width: 80%;
    font-size: 2.1875em;
    line-height: 1em;
    color: #333;
    margin-top: 60px;

    padding-left: 12%;
}

section h2 {
/*	border: 1px solid lime;*/
	font-size: 1.875em; /*30px / 16px */
	color: #333;
	padding-bottom: 10px;
	padding-top: 50px;
}

article {
/*    border: 1px solid red;*/
    width: 90%;
    padding-left: 12%;
}

article img {
/*    border: 1px solid blue;*/
    width: 100%;
    position: relative;
}

article span:first-of-type {
	  -ms-transform: rotate(-25deg); /* IE 9 */
    -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
    transform: rotate(-25deg);
/*border: 1px solid red;*/
width:60px;
height:60px;
border-radius:50%;
font-size:20px; /*20px / 16px */
color:#fff;
text-align:center;
background:#ffa500;
padding-top:15px;
font-weight: 100;
position: absolute;
z-index: 100;
margin-top:50px;
margin-left: 20px;
box-shadow: 5px 5px 5px #888888;

}

article span:last-of-type {
	font-size: 22px;
	font-weight: 100;
}

article p {
/*	border: 1px solid lime;*/
	padding-top: 10px;
	font-size: .75em;
	line-height: 14px;
	color: #333;
}



aside {
	width: 15%;
/*	border: 1px solid purple;*/
	margin-top: 60px;
	float: right;
	margin-right: 10%;
	text-align: center;

}

aside h1 {
/*	border: 1px solid green;*/
	color: #333;
	font-size: 18px; 
	text-align: center;

}

aside li:nth-of-type(2) {
padding-bottom: 10px;

}

aside a {
	color: #333;
	text-decoration: none;
	font-size: 9px;


}



aside img {
	width: 100%;
	float: left;
		margin-bottom: 50px;

}

aside li {
/*	border: 1px solid blue;*/
	font-size: .75em;
	color: #333;
	font-weight: 100;

}

aside ol li {
	list-style-position: inside;

}



footer {
	width: 81%;
/*	border: 1px solid blue;*/
	float:left;
	margin-top: 150px;
	padding-left: 12%;
	padding-bottom: 100px;

}



footer h1 {
	font-size: 1.5em;
	color: #333;

}

footer h2 {
	font-size: .75em;
/*	border: 1px solid red;*/

}

footer p {
	font-size: 0.8em;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 30px;
}

footer ul {
	float: left;
	list-style: none;
	font-size: .75em;
	margin-top: 10px;

}

footer ol {
	float: left;
	margin-left: 16%;
	font-size: .75em;
	text-align: left;
	margin-top: 10px;
	list-style-position: inside;

}

footer a {
	color: #333;
	text-decoration: none;


}



